@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Kumbh Sans', sans-serif;
}

.container{
 background-color: hsl(216, 12%, 8%);
 min-height: 100%;
 padding: 1rem;
}

.card {
 box-shadow: rgba(251, 249, 249, 0.06) 0px 2px 4px 0px inset;
 flex-direction: column;
 border: 1px solid black;
 max-width: 40%;
 margin: 2rem  auto;
 padding: 2rem;
 background-color: hsl(213, 19%, 18%);
 border-radius: 22px;
 line-height: 40px;
}

.card h2 {
 color: hsl(0, 0%, 100%);
}

.card p {
 color:  hsl(217, 12%, 63%)
}


.btns {
 padding: 1rem;
 border-radius:100px;
 border: none;
 outline: none;
 margin-right: 1rem;
 color: hsl(213, 19%, 18%);
 cursor: pointer;
}

.rate {
 width: 100%;
 margin: 1rem 0;
}


.submit {
 padding: 1rem;
 width: 100%;
 margin: 1rem 0;
 border-radius: 30px;
 border: none;
 outline: none;
 background-color: hsl(0, 0%, 100%);
 color: hsl(25, 97%, 53%);
font-size: 20px;
cursor: pointer;
}

.submit:hover {
 background-color: hsl(25, 97%, 53%);
 color:hsl(0, 0%, 100%)
}

.attribution {
 text-align: center;
 margin: 4rem 0;
}

.attribution p {
 color: hsl(0, 0%, 100%);
}

.attribution a {
 text-decoration: none;
 color: hsl(25, 97%, 53%);
}

.ratedContainer {
 box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
 max-width: 40%;
 margin: 1rem auto;
 padding: 2rem 4rem;
 text-align: center;
 border-radius: 22px;
 background-color: hsl(213, 19%, 18%);
 color: hsl(0, 0%, 100%);
 line-height: 30px;
}

.ratedContainer img {
 margin: 1rem 0;
}

.header {
 width: 80%;
 margin: 1rem auto;
 background-color: hsl(216, 12%, 8%);
 color: hsl(25, 97%, 53%);
 border-radius: 32px;
}

.ratedContainer p {
 line-height: 40px;
 margin: 1rem 0;
}

.selected {
 background-color: hsl(25, 97%, 53%);
 color: hsl(0, 0%, 100%);
}